# Auto detect text files and perform LF normalization
* text=auto

git init
git add
git commit -m 'sample 2 commit'
git remote add origin https://github.com/Nish7966/sampleasg2.git
git push -u origin master