# Auto detect text files and perform LF normalization
* text=auto

git init
git add
git commit -m 'main commit'
git remote add origin https://github.com/Nish7966/assignment2.git
git push -u origin master